.paper {
  padding: 20px;
}
.form {
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.fileInput {
  width: 97%;
  margin: 10px 0;
}

.fileInput > .MuiInputBase-root {
  margin: 7px 0;
}

.buttonSubmit {
  margin-bottom: 10px !important;
}

.paper__notice {
  font-size: 40px !important;
  font-family: 'Niconne', cursive !important;
}
