.grid__container {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

@media (max-width: 960px) {
  .heading {
    font-size: 40px !important;
  }
  .grid__container {
    flex-direction: column-reverse;
  }
  .MuiGrid-spacing-xs-2 > .MuiGrid-item {
    padding: 15px 0 0 0 !important;
  }
}
